{{#em-form-group model=model property=property inputComponent=this class=class}}
    {{#if checkboxWrapper}}
        <div class={{checkboxWrapper}}>
            {{em-checkbox-input checkboxComponent=this}}
        </div>
    {{else}}
        {{em-checkbox-input checkboxComponent=this}}
    {{/if}}
{{/em-form-group}}
