{{#if controlWrapper}}
    <div class={{controlWrapper}}>
        {{#component mainComponent.htmlComponent mainComponent=mainComponent}}
            {{yield}}
        {{/component}}
    </div>
{{else}}
    {{#component mainComponent.htmlComponent mainComponent=mainComponent}}
        {{yield}}
    {{/component}}
{{/if}}
