{{#if mainComponent.controlWrapper}}
    <div class={{mainComponent.controlWrapper}}>
        {{component mainComponent.htmlComponent mainComponent=mainComponent}}
    </div>
{{else}}
    {{component mainComponent.htmlComponent mainComponent=mainComponent}}
{{/if}}
