{{#if controlWrapper}}
    <div class={{controlWrapper}}>
        {{view controlView viewName=controlViewName property=propertyName id=cid mainComponent=mainComponent form=form}}
    </div>
{{else}}
    {{view controlView viewName=controlViewName property=propertyName id=cid mainComponent=mainComponent form=form}}
{{/if}}
