<h1>Controls</h1>

<p>Please choose one of the controls from the left menu</p>


<h2>Parameters</h2>
<table class="table table-striped">
    <tr><th>Param name</th><th>Description</th><th>Default</th></tr>
    <tr><td>showAllErrors</td><td>Property which states whether all Errors and Helptext should be displayed. e.g. after the user clicks the submit button.</td><td>false</td></tr>
    <tr><td>property</td><td>The property name in the model instance bound to the Element</td><td>none, value is required.</td></tr>
    <tr><td>label</td><td>The property name in the model instance bound to the Element</td><td>""</td></tr>
    <tr><td>validationIcons</td><td></td><td>true</td></tr>
</table>
