<div class="well sidebar">
    <ul class="nav">
        {{#each model as |link|}}
            <li>{{#link-to link.route}}{{link.text}}{{/link-to}}</li>
            {{#if link.items}}
                <ul class="nav">
                {{#each link.items as |item|}}
                    <li>{{#link-to item.route}}{{item.text}}{{/link-to}}</li>
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ul>
</div>