<div class="well sidebar">
    <ul class="nav">
        {{#each link in model}}
            <li>{{#link-to link.route}}{{link.text}}{{/link-to}}</li>
            {{#if link.items}}
                <ul class="nav">
                {{#each item in link.items}}
                    <li>{{#link-to item.route}}{{item.text}}{{/link-to}}</li>                
                {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ul>
</div>